.header__meal {
  font-family: "Shrikhand", sans-serif;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  padding: 30px 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    font-size: 20px;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
  }

  &--title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    text-align: center;
    width: calc(100% - 120px);
    max-width: 600px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    h1 {
      margin: 0;
    }
  }

  &--logo {
    display: none;
  }
}

.small-padding .header__meal {
  padding: 30px 20px;
}

@media (min-width: 1024px) {
  .header__meal {
    padding: 20px 0;

    &--title {
      display: none;
    }

    &--logo {
      display: block;
      width: 200px;
      margin: 0 auto;
    }

    i {
      left: 40px;
    }
  }
}
