.restaurant{
    padding: 54px 20px 66px 20px;
    background-color: $background-color;

    & h2{
        margin-bottom: 20px;
    }

    .card{
        height: 251px;
        background-color: white;
        border-radius: 20px;
        margin-top: 18px;
        position: relative;

        & i{
            position: absolute;
            right: 7%;
            bottom: 12%;
        
        }                    
        
        & img{
            position: relative;
        }

        & img{
            height: 174px;
            object-position: 50% 60%;
            border-radius: 20px 20px 0 0;
            display: flex;
            margin: 0;
        }

        &__img--sticker{
            position: absolute;
            right: 5%;
            top: 10%;
            color: #008766;
            border: 1px solid none;
            background-color: $card-color;
            padding: 7px 9px;
            margin: 0;
            border-radius: 2px;
        }

        &__content{
            height: 77px;
            width: 100%;
            display: flex;
            justify-content: space-between;

            &--txt{
                padding: 15px 0 12px 13px;
                display: flex;
                 flex-direction: column;
                 justify-content: center;
            }

            &--title{
                font-size: 18px;
                margin: 0;
                padding-bottom: 5px;
            }
            &--place{
                font-size: 17px;
                margin: 0;
            }
            &--heart {
                    display: flex;
                    align-items: center;
                    font-size: 25px;
                    padding-right: 25px;
                    cursor: pointer;
                    
                    & .fa-regular{
                        color: grey;
                        transition: opacity 800ms;
                    }

                    & .fa-full {
                    @include heart
                    }

                    input.heart-toggle:checked ~ .fa-regular{
                        display: none;
                    }
                    input.heart-toggle:checked ~ .fa-full {
                        opacity: 1;
                    }
            }
    }   
    }
}

@media (min-width: 1024px) { 
    .restaurant{
        display: flex;
        &__section{
            margin-left: auto;
            margin-right: auto;
            h2{
                margin-left: 160px;
                margin-top: -20px;
                margin-bottom: 5px;
            }
        }
        &__cards{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

        }
        .card{
            width: 400px;
            height: 251px;
            margin-left: 40px;
            margin-right: 40px;
            margin-top: 40px;
        }
    }
}